@import '../../../variables.scss';

.drawer-list {
  list-style: none;
  padding: 12px;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 1px solid $generalOverlayBackground;
  }

  &__item {
    width: calc(100% - 12px);
    position: relative;
    display: block;
    $parent: &;

    &.active {
      background-color: $generalBadgeChipBackground;
      border-radius: 10px;
    }

    &.header-list {
      #{$parent}-link__text {
        flex-grow: 0;
        padding-right: 8px;
        font-size: 1rem;
        font-weight: bold;
      }
      #{$parent}-link__icon {
        display: none;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      padding: 0 12px;
      height: $paper-item-min-height;
      border-radius: 10px;
      box-sizing: border-box;

      &:hover {
        background-color: $generalBadgeChipBackground;
      }

      &__icon {
        margin-right: 24px;
      }

      &__text {
        flex: 1;
        font-weight: 500;
        white-space: nowrap;
      }

      &__right-icon {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}