.header__start {
  display: flex;
  align-items: center;

  &-navigation-button {
    button {
      display: flex;
      padding: 8px;
    }
  }

  &-logo {
    display: flex;

    a {
      padding: 18px 16px;
      display: block;
    }

    &-container {
      display: block;
      width: 90px;
      height: 20px;
    }

    &__country-code {
      font-size: 10px;
      color: #606060;
      margin: 12px 0 0 -10px;
    }
  }
}