$black: #000000;
$mainTextColor: #0f0f0f;
$linkColor: #065fd4;
$defaultBorder: #d3d3d3;

$generalOverlayBackground: rgba($color: $black, $alpha: 0.1);
$generalBadgeChipBackground: rgba($color: $black, $alpha: 0.05);

$paper-item-min-height: 40px;
$mini-icon-height: 24px;
$mini-icon-width: 24px;